<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>versionUpdate</key>
	<string>{&quot;minimumSupportVersion&quot;:&quot;1.0.0&quot;,&quot;latestVersion&quot;:&quot;1.0.0&quot;,&quot;appStoreUrl&quot;:&quot;https://apps.apple.com/us/app/unit-converter-shopping-utils/id6740537125&quot;}</string>
</dict>
</plist>
